*,
body,
html {
	margin: 0;
	padding: 0;
	/* overflow: hidden;  */
	/* Using the above is hiding everything on the page for some reason */
	font-family: "Helvetica Neue";
}
body {
	position: relative;
	background-color: black;
	display: flex;
	position: relative;
}
.logo {
	position: absolute;
	display: block;
	width: auto;
	height: 5vw;
	max-height: 75px;
	z-index: 1;
}

.notice {
	position: absolute;
	top: 15vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 70%;
	max-width: 700px;
	z-index: 2;
	text-align: center;
}
.notice-logo {
	width: 50%;
	max-width: 250px;
	margin-bottom: 1rem;
}
.coming-soon {
	background: rgb(76, 76, 76);
	color: white;
	border: 1px solid gray;
	height: 100%;
	z-index: 2;
	padding: 1.5rem;
	border-radius: 5px;
	text-align: start;
}

.title {
	margin-bottom: 1.5rem;
	font-weight: 500;
}
.subtitle {
	margin-bottom: 1.5rem;
	font-style: italic;
	font-weight: 300;
}
